<head>
  <meta charset="utf-8">
  <!-- Page Title, Facebook Share and Meta Data -->
  <!-- meta data to tell the browser that your device is responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <!-- SEO and open graph data  -->
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content=" {{ page.keywords }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--  Social media sharing META Tags -->
  <meta property="og:title" content="Posture HQ Chiropractic">
  <meta property="og:description" content="  Posture HQ Chiropractic in Noosa offers advanced chiropractic treatment for Back pain, Neck pain, Headaches, Sciatica, Sports injuries. Book online or call 07 5455 4067">
  <meta property="og:image" content="/images/abc.jpg">
  <meta property="og:url" content="www.posturehq.com.au">

<link rel="shortcut icon" href="/images/favicon.ico" type="image/png">
  <!-- FONT AWESOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
<!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap" rel="stylesheet">
  <!-- GRIDLEX -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
  <!-- CSS STYLE SHEET -->
  <link rel="stylesheet" href="/style.css">
</head>
