<header class='grid-middle'>

    <div class="col-4_sm-6 padded-left">
      <a href="/"> <img src="/images/logo1.png" class='logo padded-1' alt="">
      </a>
    </div>

  <!-- hamburger menu -->
  <nav class='col-8_sm-6-middle right padded-right'>
      <a href="#" class='button'> Book online </a>

    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>
  <nav class='mobile-nav'>
      <a href="/chiropractic"> Chiropractic</a>
      <a href="/about-us"> Meet the Team</a>
      <a href="/conditions-home"> Conditions</a>
      <a href="/blog"> Blog</a>
      <a href="/faq"> FAQ's</a>
      <a href="/contact-us"> Contact Us</a>
      <a href="tel:07 5447 4056"> Call the Office</a>
      <a href="#" > Book Online</a>
  </nav>
</header>
