<header class='grid-middle navbar'>
    <div class="col-4_sm-6 padded-left">
      <a href="/"> <img src="/images/posture-hq-logo.png" class='logo padded-1' alt="">
      </a>
    </div>

  <!-- hamburger menu -->
  <nav class='col-8_sm-6-middle right padded-right'>
      <a href="#" class='navbutton'> BOOK ONLINE </a>
      <a href="tel: 0448631445" class='navbutton margin-left'> (07) 5455 4067</a>

    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>
  <nav class='mobile-nav'>
    <a href="#" class='hamburger padded'> Book Online </a>
    <a href="tel: 0448631445" class='hamburger '> (07) 5455 4067 </a>


    <a href="/"> Home </a>
      <a href="/chiropractic"> About Chiropractic </a>
      <a href="/about-us"> Meet the Team</a>
      <a href="/conditions-home"> Conditions</a>
      <a href="/faq"> FAQ's</a>
      <a href="/contact-us"> Contact Us</a>
      <a href="/blog"> Blog</a>

  </nav>
</header>
