<footer class='feat-bg grid padded'>
    <div class="col-4_sm-12 ">
      <img class='logo' src="/images/logo1.png" alt="">
      <p> </p>
    </div>
    <div class="col-8_sm-12 right">
      <a href="#"> Chiropractic | </a>
      <a href="#"> Meet the Team | </a>
      <a href="#"> FAQ | </a>
      <a href="#"> Services | </a>
    </div>

    <div class='col-12 right social'>
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-youtube"></i>
    </div>
  </footer>

<section class='no-padding'>
<div class='copyright center padded-1'>
  <p> © XXX 2019 | Website built by <a href='https://www.innatecreative.com'> Innate Creative </a> </p>
</div>
</section>
