<footer class='grid padded mobile-center palmbanner2 lazy'>
  <div class="col-6_sm-12-bottom mobile-center">
    <a href="/">
      <img src="/images/posture-hq-logo-dark.png" class='logo' alt="Posture HQ Chiropractic Noosa Heads "> </a> <br> <br><br>
    <p>Dr. Elizabeth Borham is a proud <br>board member of:</p>

    <a href="https://abcaustralasia.org.au/" target="_blank"><img src="/images/abca-mobile.png" class='abca ' alt="Advanced BioStructual Correction Australasia - Chiropractic Technique"></a>
  </div>

  <!-- Quick Links  -->
  <div class="col-3_sm-12-bottom-middle">
    <h4 style="font-family: lato;"> QUICK LINKS </h4>
    <p>
      <a href="/chiropractic"> Chiropractic</a><br>
      <a href="/about-us"> Meet the Team</a><br>
      <a href="/conditions-home"> Conditions</a><br>
      <a href="/blog"> Blog</a><br>
      <a href="/faq"> FAQ's</a> <br>
      <a href="/contact-us"> Contact Us</a></p>
  </div>

  <div class="col-3_sm-12-bottom center mobile-padded">
    <a href="https://www.facebook.com/PostureHQ/" target="_blank"> <i class="fab fa-facebook-square"></i> </a>
    <a href="https://www.youtube.com/channel/UCyF7jBarUgZpz7y0XxlSmBg" target="_blank"><i class="fab fa-youtube"></i></a>
    <a href="https://www.instagram.com/posture_hq/" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
</footer>

<section class='dark-bg padded-1'>
  <div class='copyright center'>
    <p> © Posture HQ Chiropractic 2019 | Websites by <a href='https://innatecreative.co'> Innate Creative |</a>
      <a href="/privacy.html" target="_blank" class="right"> Privacy Policy </a></p>
  </div>
</section>
