<footer class='feat-bg grid padded'>
    <div class="col-4_sm-12 ">
      <a href="/">
      <img src="/images/logo.png" class='logo' alt=""> </a> <br> <br> <br>
      <!-- <img class='logo' src="/images/logo1.png" alt=""> -->
      <p> Change your posture, change your life </p>
      <a href=""> <i class="fab fa-facebook-square"></i> </a>
      <a href="https://www.instagram.com/posture_hq/"><i class="fab fa-instagram"></i></a>
      <a href=""><i class="fab fa-youtube"></i></a>
    </div>
    <!-- space between -->
    <div class="col-4">
    </div>
    <!-- Quick Links  -->
    <div class="col-4_sm-12">
      <h4> QUICK LINKS </h4>
      <a href="/chiropractic" class='border-bottom'> Chiropractic</a><br>
      <a href="/about-us" class='border-bottom'> Meet the Team</a><br>
      <a href="#" class='border-bottom'> Conditions</a><br>
      <a href="/blog" class='border-bottom'> Blog</a><br>
      <a href="/blog"> FAQ's</a> <br>
      <a href="/contact-us" class='border-bottom'> Contact Us</a><br>
    </div>
  </footer>

<section class='dark-bg no-padding'>
<div class='copyright center padded-1'>
  <p> © Posture HQ Chiropractic 2019 | Websites by <a href='https://www.innatecreative.com'style='color: white; border-bottom: 1px solid white;'>Innate Creative </a> </p>
</div>
</section>
