---
layout: default
---
<section class='grid padded ctabanner'>
  <div class="col-8 blog-post ">
    <h1>
      {{ page.title }}
    </h1>
    {{ content }}
  </div>
  <div class="col-4_md-12 sidebar padded bg-light">
    <div>
        <h3> Meet Dr. Liz Borham </h3>
        <h4> (Chiropractor) </h4>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nis</p>
        <a href="/about-us" class='button'>Learn More </a>
    </div> <br> <br> <br>
    <div>
      <h3> Ready to book in? </h3>
      <p> You are now able to book online! Book your appointment with Dr. Liz at a time that suits you.  </p>
      <a href="#" class='button'>Book Online Now</a>
    </div>

  </div>
</section>
