<!DOCTYPE html>
<html>
<!-- THIS IS THE HEAD SECTION -->
  {% include head.html %}
<title> Posture HQ Chiropractic </title>
<!-- THIS IS THE BODY SECTION -->
<body class="mobile-center">
  <!-- THIS IS THE MAIN HEADER SECTION -->
  {% include site-header.html %}

  {{content}}
  <!-- FOOTER SECTION -->
  {% include site-footer.html %}

    <!-- Add javascript scripts here -->
    <!-- Jquery add in  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
<!-- TYPED JQUERY -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-eEo+kC7ROjsA/3wA+Zf8m6X9H3raPZ7MJ/Rk9rBTKHM=" crossorigin="anonymous"></script>

    <!-- THIS IS THE TYPED SCRIPT -->
    {% if page.url == "/"%}
    <script src='/scripts/typed.js'>
    </script>
    {% endif %}

    <!-- Lazy Load Script  -->
    <script src="lazysizes.min.js" async=""></script>

    <!-- Animation Script -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

    <!-- VIDEO SCRIPT -->
    <script src=‘equerry.vide.js”></script>

    <!-- Connect to main script -->
    <script src='/scripts/main.js'>
    </script>

</body>
</html>
