---
layout: default
---

<section class='grid padded main'>
  <div class="col-9_md-12 blog-post">
      <h1>
      {{ page.title }}
    </h1>
    <p class="date mobile-padded-bottom">
      {{ page.date | date: '%B %d, %Y' }}
    </p>
    <br />
    {{ content }}
  </div>
  <div class="col-3_md-12 padded-1 bg-light main tablet-hide">
    <div class="sidey-team">
      <h3 style='font-size: 1.5rem;' class="editable">
        Struggling with Back Pain?
      </h3>
      <p class="editable">
        Claim your <strong>$95 New Patient Offer</strong> to start your journey back to health.
      </p>
      <h4 class="editable">
        What is included?
      </h4>
      <p class="editable">
        Initial consultation, comprehensive examination, digital posture analysis and first ABC&trade; adjustment* (normally $145)
      </p>
      <a href="/book-online.html" class='button-dark editable'>Book Offer Online</a>
    </div>
    <div class="sidey-team">
      <h3 class="editable">
        Meet Dr. Liz Borham
      </h3>
      <h4 class="editable">
        (Chiropractor)
      </h4>
      <p class="editable">
        Dr. Liz sees her role as a Chiropractor as being a partner with people who want to achieve health and wellness goals. Her aim is to have people of all ages feeling and functioning as well as they can.
      </p>
      <a href="/about-us" class='button-dark editable'>Learn More </a>
    </div> <br /> <br /> <br />

  </div>
</section>

<!-- THIS IS A CTA  -->
<section class='grid dark-bg' ;>

  <div class="col-1">
  </div>
  <div class="col-10 padded center">
    <h2 class="editable">
      Feel the benefits of ABC&trade; Care
    </h2>
    <p class="editable">
      Click below to schedule your first appointment with Dr. Liz
    </p>
    <a href="/book-online.html" class='button-dark editable'> Book Online </a>
  </div>

  <div class="col-1 ">
  </div>
</section>
