---
layout: default
---
<section class='grid padded ctabanner main'>
  <div class="col-9_sm-12 blog-post ">
    <h1>
      {{ page.title }}
    </h1>
    <p class="date">
      {{ page.date | date: '%B %d, %Y' }}
    </p>
    {{ content }}
  </div>
  <div class="col-3_md-12 padded-1 bg-light main">
    <div class="sidey">
      <h3> Meet Dr. Liz Borham </h3>
      <h4> (Chiropractor) </h4>
      <p> Dr. Liz sees her role as a Chiropractor as being a partner with people who want to achieve health and wellness goals.  Her aim is to have people of all ages feeling and functioning as well as they can.</p>
      <a href="/about-us" class='button-dark'>Learn More </a>
    </div> <br> <br> <br>
    <div class="sidey">
      <h3> Need Help with Pain? </h3>
      <p> Do you have a specific pain or condition you need help with? Perhaps you have constant headaches, you're not sleeping well or want more energy in your day. See how Chiropractic Care can help you today. </p>
      <a href="/services" class='button-dark'>Learn More</a>
    </div>

  </div>
</section>
