---
layout: default
---
<section class='grid padded main'>
  <div class="col-9_md-12 blog-post">
      <h1>
      {{ page.title }}
    </h1>
    <p class="date mobile-padded-bottom">
      {{ page.date | date: '%B %d, %Y' }}
    </p>
    <br>
    {{ content }}
  </div>
  <div class="col-3_md-12 padded-1 bg-light main tablet-hide">
    <div class="sidey-team">
      <h3 style='font-size: 1.5rem;'> Struggling with Back Pain?  </h3>
      <p>Claim your <strong>$75 New Patient Offer</strong> to start your journey back to health. </p>
      <h4>What is included?</h4>
      <p>Inital consultation, comprehensive examination, digital posture analysis and first ABC™ adjustment* (normally $110) </p>
      <a href="/book-online.html" class='button-dark'>Book Offer Online</a>
    </div>
    <div class="sidey-team">
      <h3> Meet Dr. Liz Borham </h3>
      <h4> (Chiropractor) </h4>
      <p> Dr. Liz sees her role as a Chiropractor as being a partner with people who want to achieve health and wellness goals.  Her aim is to have people of all ages feeling and functioning as well as they can.</p>
      <a href="/about-us" class='button-dark'>Learn More </a>
    </div> <br> <br> <br>

  </div>
</section>

<!-- THIS IS A CTA  -->
<section class='grid dark-bg';>

  <div class="col-1">
  </div>
  <div class="col-10 padded center" >
    <h2> Feel the benefits of ABC™ Care</h2>
    <p>Click below to schedule your first appointment with Dr. Liz </p>
    <a href="/book-online.html" class='button-dark'> Book Online </a>
  </div>

  <div class="col-1 ">
  </div>
</section>
